
<h1><%= @name1 %>: <%= @player1_hp %>HP</h1>

<form action="/play" method='post'>
  <label for="name">Attack <%= @name1 %>!</label>
  <input type="submit" value="Attack Player 1">
</form>

<!-- <a href="/play" class="btn">Attack</a> -->

<h1><%= @name2 %>: <%= @player2_hp %>HP</h1>

<form action="/play2" method='post'>
  <label for="name">Attack <%= @name2 %>!</label>
  <input type="submit" value="Attack Player 2">
</form>
