
<h1><%= @game.player1.name %>: <%= @game.player1.hp %>HP</h1>

<a href="/attack" class="btn">Attack <%= @game.player1.name %>!</a>

<!-- <form action="/play" method='post'>
  <label for="name">Attack <%= @name1 %>!</label>
  <input type="submit" value="Attack Player 1">
</form> -->



<h1><%= @game.player2.name %>: <%= @game.player2.hp %>HP</h1>

<form action="/attack2" method='post'>
  <label for="name">Attack <%= @game.player2.name %>!</label>
  <input type="submit" value="Attack!">
</form>
